---
layout: default
---
{% for post in paginator.posts %}
<article role="article" class="post">
  <header class="post-banner">
    <h1 class="post-title"><a href="{{ post.url }} ">{{ post.title }}</a></h1>
    <p  class="post-date"><date>{{ post.date | date: '%b %d, %Y' }}</date></p>
  </header>

  <main class="post-content">
    {{ post.content }}
  </main>
</article>
{% endfor %}

<nav role="menu" class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-prev" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-prev" >Older</span>
  {% endif %}

  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-next" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-next" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-next">Newer</span>
  {% endif %}
</nav>