<aside id="sidebar">
  <section>
    <header>
      <h1><a href="{{ site.baseurl }}">{% include logo.html %}</a></h1>
      <p>
        A running log of build projects by Andrew Gallagher,
        <em>aka</em> <a href="http://kivlor.com">Kivlor</a>.
      </p>
    </header>

    {% include icons.html %}
  </section>
</aside>