<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width">
  
  <title>{{ page.title | default: site.title }}</title>

  <meta name="description" content="{{ page.description | default: site.description }}">
  <meta name="viewport" content="width=device-width">

  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:description" content="{{ page.description | default: site.description }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:image" content="{{ site.url }}{{ page.image | default: images/shop-social-card.jpg }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ site.twitter }}">
  <meta name="twitter:creator" content="{{ site.twitter }}">
  <meta name="twitter:title" content="{{ page.title | default: site.title }}">
  <meta name="twitter:description" content="{{ page.description | default: site.description }}">
  <meta name="twitter:image" content="{{ site.url }}{{ page.image | default: images/shop-social-card.jpg }}">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">
  
  <link rel="apple-touch-icon" type="image/png" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/image/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/image/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <link rel="stylesheet" type="text/css" href="/styles/site.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700">
</head>