// base

::selection {
  background: #00e8e4;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

body {
  background: #fff;
  color: #2c2c2c;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// headings

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  padding: 0;
  color: #000;
  
  font-weight: 700;
  line-height: 1.25;
}

h1 { font-size: 2rem; }
h2 { margin-top: .5rem; font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4, h5, h6 { font-size: 1rem; }

// text blocks

p, mark, pre, blockquote {
  margin: 0 0 1rem;
  padding: 0;
}

mark {
  background-color: #c8c0c0;
}

pre {
  padding: .5rem;

  code { display: block; }
}

blockquote {
  padding: .5rem;
  border-left: .25rem solid #bcc0c4;

  p:last-child {
    margin-bottom: 0;
  }
}

// anchors

a {
  color: #008894;
  text-decoration: none;

  strong {
    color: inherit;
  }
}

a:hover {
  text-decoration: underline;
}

// lists

ol, ul {
  margin: 0;
  padding: 0;

  list-style-position: inside;
  
  li {
    margin: 0 0 .5rem;
    
    ul, ol {
      padding-top: .5rem;
    }
  }
}

nav ul, nav ol {
  padding: 0;

  li {
    margin-bottom: 0;

    ul, ol {
      padding-top: 0;
    }
  }
}

dl {
  dt, dd {
    margin: 0 0 .5rem;
  }
  
  dt {
    font-weight: 700;
  }
  
  dd {
    padding-left: 0;
  }
}

// tables

table {
  margin-bottom: .5rem;
  width: 100%;
  
  thead, tfoot {
    td, th {
    }
  }
  
  tbody {
    tr:nth-child(2n+1) {
      td {
        background: #fcf8fc;
      }
    }
  }

  td, th {
    padding: .5rem;
    border: 1px solid #bcc0c4;
    text-align: left;
  }
}

// figures & images

figure {
  margin: 1rem 0;
}

img {
  display: inline-block;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

// rules

hr {
  display: inline-block;
  position: relative;

  margin: 1rem auto 1.5rem;
  
  height: 0;
  width: 100%;

  border: none;
  border-top: 2px solid #bcc0c4;
}