// posts

.post {
  .post-banner {
    .post-title {
      a {
        color: #000;
      }
    }

    .post-date {
      color: #bcc0c4;
      font-weight: 300;
    }
  }

  .post-meta {
    padding-top: 2rem;
    
    .post-related {
      padding: 2rem 0;
      border-top: 1px solid #bcc0c4;

      ul {
        list-style: none;

        a:hover {
          text-decoration: none;
        }

        small {
          color: #bcc0c4;
          font-weight: 500;
        }
      }
    }
  }
}

.post + .post {
  margin-top: 4rem;
}

// pagination

.pagination {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 2rem;

  border: 1px solid #bcc0c4;
  border-radius: .25rem;

  a:hover {
    color: #2c2c2c;
    text-decoration: none;
  }

  .pagination-prev, .pagination-next {
    padding: .5rem 1rem;
    flex: 1;
    
    color: #bcc0c4;

    text-align: center;
  }

  .pagination-prev {
    border-right: 1px solid #bcc0c4;
  }
}