// layout

#sidebar {
  padding: 2rem 1em;

  background: #008894 url('/images/shop-background.jpg') 0 0 no-repeat;
  background-size: cover;
  color: #bcc0c4;

  font-size: 1.25rem;
  text-align: left;

  section {
    padding: 0 1em;
    margin: 0 auto;
    max-width: 20rem;

    header {
      h1 {
        margin-bottom: 1rem;
      }
      
      p {
        display: none;
      }
    }

    nav {
      text-align: center;
      a {
        display: inline-block;
        margin-left: .5rem;
        margin-right: .5rem; 
        width: 1.5rem;
      }
    }
  }
}

@media (min-width: 50em) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;

    section {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      left: 1rem;

      header {
        p {
          display: block;
        }

        a {
          color: #fff;
        }
      }
    }
  }
}

#content {
  padding: 4rem 1rem;
}

@media (min-width: 50em) {
  #content {
    margin-left: 22rem;
    margin-right: 4rem;
    max-width: 48rem;
  }
}