<!doctype html>
<html lang="en">
  {% include head.html %}
  
  <body>
    {% include aside.html %}
    
    <main role="main" id="content">
      {{ content }}
    </main>

    <script src="/scripts/site.js"></script>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','{{ site.ga_analytics }}','auto');ga('send','pageview');
    </script>
  </body>
</html>
