---
layout: default
---
<article role="article" class="post">
  <header class="post-banner">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-date"><date>{{ page.date | date: '%b %d, %Y' }}</date></p>
  </header>

  <main class="post-content">
    {{ content }}
  </main>

  <footer class="post-meta">
  {{ paginator.total_posts }}
    {% unless site.posts.size == 1 %}
    <section class="post-related">
      <h2>Related Posts</h2>
      <ul>
      {% for post in site.related_posts limit:3 %}
        <li>
          <h3>
            <a href="{{ post.url }}">{{ post.title }} <small>{{ post.date | date_to_string }}</small></a>
          </h3>
        </li>
      {% endfor %}
      </ul>
    </section>
    {% endunless %}
  </footer>
</article>